*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, Helvetica;
  font-weight: bold;
  color: #F8DE22;
	-webkit-text-stroke: 0.7px #f8a222;
}

body {
  padding: 0;
  margin: 0;
  background: radial-gradient(#F8DE22, #f8a222, #900C3F)
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #F94C10;
  border-radius: 3px;
  outline: none;
  background-color: #900C3F;
}

.calculator-grid > button:hover {
  border:rgba(251, 201, 126, 0.9);
  color: #6b0220;
  background-color: rgba(255, 153, 0, 0.9);
  transform: scale(1.1);
	-webkit-text-stroke: 1px #f8a222;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: #6b0220;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  border-radius: 3px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: #f8df22a7;
  font-size: 1em;
	-webkit-text-stroke: #F8DE22;
  font-size: 1.5rem;
}
.output .current-operand {
  color: #F8DE22;
  font-size: 2.5rem;
}